@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
	<h5 class="card-header">Yorum Listesi</h5>
	<div class="table-responsive text-nowrap">
		<table class="table table-borderless">
			<thead>
				<tr>
					<th>#</th>
					<th>Kullanıcı</th>
					<th>Blog</th>
					<th>Tarih</th>
					<th>Sil</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.CommentId</td>
						<td>@item.CommentUser</td>
						<td><strong>@item.Destination.City</strong></td>
						<td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</td>
						<td><a href="/Admin/Comment/DeleteComment/@item.CommentId" class="btn btn-outline-danger">Sil</a></td>
						<td><a href="/Admin/Comment/DetailComment/@item.CommentId" class="btn btn-outline-warning">Detay</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

