@model IEnumerable<BookingHotelSearchViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="card">
    <h4 class="card-header">Booking Otel Rezervasyon Sayfası</h4>
    <h5 class="card-header">Arama Yapılan Şehir: Paris/Fransa</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Otel Adı</th>
                    <th>Otel Puanı</th>
                    <th>Otel Değerlendirmesi</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td><strong>@item.hotel_name</strong></td>
                        <td>@item.review_score</td>
                        <td>@item.review_score_word</td>

                        <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
    </div>
    <br />
</div> 